<header class="c-site-header">

    <div class="o-wrapper o-wrapper--wide">

        <div class="c-site-header__inner">

            <div class="c-site-header__block">

                <a class="c-logo-link" href="/">
                    <svg class="c-icon c-icon--logo c-logo">
                        <use xlink:href="#icon-logo" />
                    </svg><!-- /c-logo -->
                </a>

            </div><!-- /c-site-header__block -->

            <div class="c-site-header__block">

                {% include navigation.html %}

            </div><!-- /c-site-header__block -->

        </div><!-- /c-site-header__inner -->

    </div><!-- /o-wrapper -->

</header><!-- /c-site-header -->
