/* ==========================================================================
   #SITE-FOOTER
   ========================================================================== */

.c-site-footer {
    padding-top: $global-spacing-unit-large;
    padding-bottom: $global-spacing-unit-large;
    text-align: center;
}

.c-site-footer__meta {
    font-size: 14px;
    line-height: 2.28571428571;
    margin-bottom: 0;
}
