/* ==========================================================================
   #LOGO
   ========================================================================== */

.c-logo-link {
    display: inline-block;
    vertical-align: middle;
}

.c-logo {
    fill: $color-black;
}
