---
layout: default
---

<section>

    <div class="o-wrapper">

        <div class="c-contact-grid o-grid">

            <div class="o-grid__item">

                <h1 class="c-heading-page c-heading-page--contact">Let's work together</h1>

            </div><!-- /o-grid__item -->

            <div class="c-contact-grid__text o-grid__item">

                <p>{{ page.contact_details }}</p>

            </div><!-- /o-grid__item -->

            <div class="o-grid__item">

                <h2 class="c-heading-page c-heading-page--contact">Hit me up</h2>

            </div><!-- /o-grid__item -->

            <div class="c-contact-grid__text o-grid__item">

                {{ content }}

            </div><!-- /o-grid__item -->

        </div><!-- /o-grid -->

    </div><!-- /o-wrapper -->

</section>
